<div style="height: 90px;"></div>
<footer class="app-footer ">
  <div class="contact-row contact-links">

    <!-- Location (opens Google Maps) -->
    <a class="contact-item" target="_blank" rel="noopener noreferrer"
      [href]="'https://www.google.com/maps/search/?api=1&query=' + contact.location">
      📍 {{ contact.address }}
    </a>

    <!-- Mobile: click to call -->
    <a class="contact-item" [href]="'tel:' + contact.mobile">
      📞 {{ contact.mobile }}
    </a>

    <!-- WhatsApp -->
    <a class="contact-item" target="_blank" rel="noopener noreferrer" [href]="'https://wa.me/' + contact.whatsapp">
      🟢 WhatsApp
    </a>

    <!-- Email: Pre-filled template -->
    <a class="contact-item"
      [href]="'mailto:' + contact.email + '?subject=Regarding Your Profile&body=Hi Faruk,%0D%0A%0D%0AI would like to connect with you regarding...%0D%0A%0D%0AThanks,'">
      ✉️ {{ contact.email }}
    </a>

    <!-- LinkedIn -->
    <a class="contact-item" target="_blank" rel="noopener noreferrer" [href]="contact.website">
      🔗 website
    </a>

  </div>
  <div>&nbsp; &copy; 2025 Maharashtra Transport • All rights reserved.</div>
  @if(showThemeButton){
  <button class="floating-btn" (click)="toggleTheme()" aria-label="Close"
    [title]="!isDarkMode ? 'Switch to Dark Mode' : 'Switch to Light Mode'">
    {{!isDarkMode ? '🌙' : '☀️'}}
  </button>
  <!-- Close (X) Button -->
  <button class="floating-close-btn" (click)="hideThemeButton()" title="Hide Theme Button">
    ✕
  </button>
  }
</footer>