<div style="height: 140px;"></div>

<footer class="app-footer">

  <!-- Contact Links -->
  <div class="contact-links">
    <!-- Location -->
    <a class="contact-item" target="_blank" rel="noopener noreferrer"
      [href]="'https://www.google.com/maps/search/?api=1&query=' + contact.location">
      📍{{ contact.address }}
    </a>

    <!-- Mobile -->
    <a class="contact-item" [href]="'tel:' + contact.mobile">
      📞{{ contact.mobile }}
    </a>

    <!-- WhatsApp -->
    <a class="contact-item" target="_blank" rel="noopener noreferrer" [href]="'https://wa.me/' + contact.whatsapp + '?text=' + encodedMessage">
      <div class="wa-row">
        <img src="assets/icons/32px-WhatsApp.svg.png" class="wa-icon" /><span>{{ contact.whatsapp }}</span>
      </div>
    </a>


    <!-- Email -->
    <a class="contact-item"
      [href]="'mailto:' + contact.email + '?subject=Regarding Your Profile&body=Hi Faruk,%0D%0A%0D%0AI would like to connect with you regarding...%0D%0A%0D%0AThanks,'">
      ✉️ {{ contact.email }}
    </a>

    <!-- Website -->
    <a class="contact-item" target="_blank" rel="noopener noreferrer" [href]="contact.website">
      🔗 Website
    </a>
  </div>

  <!-- Copyright -->
  <div class="footer-copy">
    © 2025 Maharashtra Transport • All rights reserved.
  </div>

  <!-- Theme Buttons -->
  @if (showThemeButton) {
  <button class="floating-btn" (click)="toggleTheme()"
    [title]="!isDarkMode ? 'Switch to Dark Mode' : 'Switch to Light Mode'">
    {{ !isDarkMode ? '🌙' : '☀️' }}
  </button>

  <button class="floating-close-btn" (click)="hideThemeButton()" title="Hide Theme Button">
    ✕
  </button>
  }

</footer>